.authPage {
  min-height: calc(100vh - 0px);
  display: grid;
  place-items: center;
  padding: 18px;
  background: #f7f7f7;
}

.authPage__container {
  width: 100%;
  display: grid;
  place-items: center;
}
